@media(max-width:768px)
{
    .banner2{
        min-height: 50vh;
        background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("/photos/home6.jpg")center/cover no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding-bottom: 10px;
        
        }
        .card-container{
            display: grid;
            grid-template-columns: 210px 210px;
        }
        .card-img{
            background: url(./photos/homesweethome.jpg)center/cover no-repeat;
        }
        .banner h2{
            padding-bottom: 20px;
            margin-bottom: 10px;
            
        }
        .card-content{
            background: #fff;
            height: 600px;
        }
        .card-content h3{
            text-align: center;
            color: #000;
            padding: 12.5px 0 5px 0;
            font-size: 20px;
            font-weight: 500;
        }
        .form-row{
            display: flex;
            width: 90%;
            margin: 0 auto;
        }
        form select, form input{
            display: block;
            width: 50%;
            margin: 15px 12px;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;
            outline: none;
            border: none;
            border-bottom: 1px solid #eee;
            font-weight: 300;
        }
        form input ::placeholder{
        color: #9a9a9a;
        }
        button{
            color: #fff;
            padding: 12px 0;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover{
            opacity: 0.7;
        }
        /*Les carousels */
        .col-md-4{
            display: inline-block;
            margin-left:-10px;
          }
          .col-md-4 img{
            width:50%;
            height:auto;
          }
            
          body .carousel-control-prev-icon,
          body .carousel-indicators li,
          body .carousel-control-next-icon{
            background-color:#000;
          }
          
          span.carousel-control-prev-icon {
           position: relative;
           bottom: 20px;
           right: 20px;
          }
          
          span.carousel-control-next-icon {
           position: relative;
           bottom: 20px;
          }
     /*footer*/

}